@font-face {
    font-family: uwu;
    src: url(fuente1.otf);
  }

header, div, footer, aside, nav, article, figure, figcaption,hgroup{
  display: block;
  }

#prof{
    width: 400px;
    height: 400px;
}

#video{
    width: 400px;
    height: 250px;
}

#contenedor{
    text-align: center;
    width: 1200px;
    margin: 15px;
}

#cabecera{
    background: #ff8fab;
    border: 1px solid #fb6f92;
    padding: 20px;
    text-align: center;
}

#seccionfot {
    text-align: center;
    float: left;
    width: 400px;
    margin: 20px;
}

#seccionvid{
    text-align: center;
    float: right;
    width: 400px;
    height: 300px;
    margin: 20px;
    padding: 50px;
    background: #000000;
}

#pie{   
    text-align: center;
    padding: 20px;
    border-top: 2px solid #fb6f92;
    position: fixed;
    bottom: 0;
}

h1{
    text-align: center;
}

